.container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px rgba(255, 255, 255, 0.6);
  width: 95%;
  margin: auto;
  /* border: none; */
  height: 30%;
  background-color: rgba(53, 52, 52, 0.815);
  border-radius: 6px;
}

html,
body {
  height: 100%;
  overflow-y: hidden;
  background-color: rgba(53, 52, 52, 0.815);
  font-family: Calibri Light;
}

#songInput {
  height: 40px;
  width: 80%;
  margin-bottom: 2%;
  font-size: 24px;
  border-radius: 6px;
  padding-left: 4px;
}

#playfinal {
  text-decoration: none;
  color: #fff;
  background-color: rgba(15, 127, 219, 0.979);
  /* border: solid 1px black; */
  height: 40px;
  width: 120px;
  border-radius: 6px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 2%;
}

.browserText {
  color: #fff;
}

@media only screen and (max-width: 730px) {
  p {
    font-size: 20px;
  }
}
#songInput::placeholder {
  font-style: italic;
}
.queuecontainer {
  border: solid 2px rgba(255, 255, 255, 0.6);
  height: 60%;
  width: 95%;
  margin: auto;
  border-radius: 6px;
  overflow-y: scroll;
}
.queuecard {
  display: table;
  border: solid 2px rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  width: 95%;
  margin: auto;
  margin-bottom: 2% !important;
}
.closeIcon {
  color: red;
  /* font-size: 36px; */
  /* float: right; */
}
.closeSpan {
  font-size: 32px;
}
.col1 {
  display: table-cell;
  padding: 0 2% 0 2%;
  width: 78%;
  /* border: solid 1px red; */
}
.col2 {
  display: table-cell;
  width: 20%;
  text-align: center;
  /* border: solid 1px blue; */
  vertical-align: middle;
}
